In [38]:
import pandas as pd
import os

In [45]:
# Define your folder path
csv_folder = r'./adventureworks_csv'
# List all files in the folder
csv_files = [f for f in os.listdir(csv_folder) if f.endswith('.csv')]

# Print list of CSVs
print("Found CSV files:", csv_files)

Found CSV files: ['Address.csv', 'AddressType.csv', 'AWBuildVersion.csv', 'BillOfMaterials.csv', 'BusinessEntity.csv', 'BusinessEntityAddress.csv', 'BusinessEntityContact.csv', 'ContactType.csv', 'CountryRegion.csv', 'CountryRegionCurrency.csv', 'CreditCard.csv', 'Culture.csv', 'Currency.csv', 'CurrencyRate.csv', 'Customer.csv', 'Department.csv', 'Document.csv', 'EmailAddress.csv', 'Employee.csv', 'EmployeeDepartmentHistory.csv', 'EmployeePayHistory.csv', 'Illustration.csv', 'JobCandidate.csv', 'JobCandidate_TOREMOVE.csv', 'Location.csv', 'Password.csv', 'Person.csv', 'PersonCreditCard.csv', 'PersonPhone.csv', 'PhoneNumberType.csv', 'Product.csv', 'ProductCategory.csv', 'ProductCostHistory.csv', 'ProductDescription.csv', 'ProductDocument.csv', 'ProductInventory.csv', 'ProductListPriceHistory.csv', 'ProductModel.csv', 'ProductModelIllustration.csv', 'ProductModelorg.csv', 'ProductModelProductDescriptionCulture.csv', 'ProductPhoto.csv', 'ProductProductPhoto.csv', 'ProductReview.csv', 'ProductSubcategory.csv', 'ProductVendor.csv', 'PurchaseOrderDetail.csv', 'PurchaseOrderHeader.csv', 'SalesOrderDetail.csv', 'SalesOrderHeader.csv', 'SalesOrderHeaderSalesReason.csv', 'SalesPerson.csv', 'SalesPersonQuotaHistory.csv', 'SalesReason.csv', 'SalesTaxRate.csv', 'SalesTerritory.csv', 'SalesTerritoryHistory.csv', 'ScrapReason.csv', 'Shift.csv', 'ShipMethod.csv', 'ShoppingCartItem.csv', 'SpecialOffer.csv', 'SpecialOfferProduct.csv', 'StateProvince.csv', 'Store.csv', 'TransactionHistory.csv', 'TransactionHistoryArchive.csv', 'UnitMeasure.csv', 'Vendor.csv', 'WorkOrder.csv', 'WorkOrderRouting.csv']

In [40]:
import pandas as pd
import os

csv_folder = r'./adventureworks_csv'
csv_files = [f for f in os.listdir(csv_folder) if f.endswith('.csv')]

dataframes = {}

encodings_to_try = ['utf-8', 'utf-16', 'ISO-8859-1']

for file in csv_files:
    df_name = file.replace('.csv', '')
    file_path = os.path.join(csv_folder, file)

    for enc in encodings_to_try:
        try:
            # ✅ Using tab as the separator
            df = pd.read_csv(file_path, encoding=enc, sep='\t', on_bad_lines='skip', low_memory=False)
            dataframes[df_name] = df
            print(f"✅ Loaded {df_name} using encoding {enc}: {df.shape[0]} rows, {df.shape[1]} columns")
            break
        except Exception as e:
            last_error = e
    else:
        print(f"❌ Failed to load {df_name} with all encodings. Last error: {last_error}")

✅ Loaded Address using encoding ISO-8859-1: 19613 rows, 9 columns
✅ Loaded AddressType using encoding utf-8: 5 rows, 4 columns
✅ Loaded AWBuildVersion using encoding utf-8: 0 rows, 4 columns
✅ Loaded BillOfMaterials using encoding utf-8: 2678 rows, 9 columns
✅ Loaded BusinessEntity using encoding utf-16: 20776 rows, 1 columns
✅ Loaded BusinessEntityAddress using encoding utf-16: 19613 rows, 1 columns
✅ Loaded BusinessEntityContact using encoding utf-16: 908 rows, 1 columns
✅ Loaded ContactType using encoding utf-8: 19 rows, 3 columns
✅ Loaded CountryRegion using encoding utf-16: 237 rows, 3 columns
✅ Loaded CountryRegionCurrency using encoding utf-16: 108 rows, 3 columns
✅ Loaded CreditCard using encoding utf-8: 19117 rows, 6 columns
✅ Loaded Culture using encoding utf-8: 7 rows, 3 columns
✅ Loaded Currency using encoding utf-8: 104 rows, 3 columns
✅ Loaded CurrencyRate using encoding utf-8: 13531 rows, 7 columns
✅ Loaded Customer using encoding utf-8: 19819 rows, 7 columns
✅ Loaded Department using encoding utf-8: 15 rows, 4 columns
✅ Loaded Document using encoding utf-16: 17 rows, 1 columns
✅ Loaded EmailAddress using encoding utf-16: 19971 rows, 1 columns
✅ Loaded Employee using encoding utf-16: 289 rows, 16 columns
✅ Loaded EmployeeDepartmentHistory using encoding utf-8: 295 rows, 6 columns
✅ Loaded EmployeePayHistory using encoding utf-8: 315 rows, 5 columns
✅ Loaded Illustration using encoding utf-16: 4 rows, 1 columns
✅ Loaded JobCandidate using encoding utf-16: 97 rows, 1 columns
✅ Loaded JobCandidate_TOREMOVE using encoding utf-16: 94 rows, 1 columns
✅ Loaded Location using encoding utf-8: 13 rows, 5 columns
✅ Loaded Password using encoding utf-16: 19971 rows, 1 columns
✅ Loaded Person using encoding utf-16: 19971 rows, 1 columns
✅ Loaded PersonCreditCard using encoding utf-8: 19117 rows, 3 columns
✅ Loaded PersonPhone using encoding utf-16: 19971 rows, 1 columns
✅ Loaded PhoneNumberType using encoding utf-16: 2 rows, 1 columns
✅ Loaded Product using encoding utf-8: 503 rows, 25 columns
✅ Loaded ProductCategory using encoding utf-8: 3 rows, 4 columns
✅ Loaded ProductCostHistory using encoding utf-8: 394 rows, 5 columns
✅ Loaded ProductDescription using encoding utf-16: 761 rows, 4 columns
✅ Loaded ProductDocument using encoding utf-8: 31 rows, 3 columns
✅ Loaded ProductInventory using encoding utf-8: 1068 rows, 7 columns
✅ Loaded ProductListPriceHistory using encoding utf-8: 394 rows, 5 columns
✅ Loaded ProductModel using encoding utf-16: 348 rows, 1 columns
✅ Loaded ProductModelIllustration using encoding utf-8: 6 rows, 3 columns
✅ Loaded ProductModelorg using encoding utf-16: 348 rows, 1 columns
✅ Loaded ProductModelProductDescriptionCulture using encoding utf-8: 761 rows, 4 columns
✅ Loaded ProductPhoto using encoding utf-16: 100 rows, 1 columns
✅ Loaded ProductProductPhoto using encoding utf-8: 503 rows, 4 columns
✅ Loaded ProductReview using encoding utf-8: 30 rows, 7 columns
✅ Loaded ProductSubcategory using encoding utf-8: 36 rows, 5 columns
✅ Loaded ProductVendor using encoding utf-8: 459 rows, 11 columns
✅ Loaded PurchaseOrderDetail using encoding utf-8: 8844 rows, 11 columns
✅ Loaded PurchaseOrderHeader using encoding utf-8: 4011 rows, 13 columns
✅ Loaded SalesOrderDetail using encoding utf-8: 121316 rows, 11 columns
✅ Loaded SalesOrderHeader using encoding utf-8: 31464 rows, 26 columns
✅ Loaded SalesOrderHeaderSalesReason using encoding utf-8: 27646 rows, 3 columns
✅ Loaded SalesPerson using encoding utf-8: 16 rows, 9 columns
✅ Loaded SalesPersonQuotaHistory using encoding utf-8: 162 rows, 5 columns
✅ Loaded SalesReason using encoding utf-8: 9 rows, 4 columns
✅ Loaded SalesTaxRate using encoding utf-8: 28 rows, 7 columns
✅ Loaded SalesTerritory using encoding utf-8: 9 rows, 10 columns
✅ Loaded SalesTerritoryHistory using encoding utf-8: 16 rows, 6 columns
✅ Loaded ScrapReason using encoding utf-8: 15 rows, 3 columns
✅ Loaded Shift using encoding utf-8: 2 rows, 5 columns
✅ Loaded ShipMethod using encoding utf-8: 4 rows, 6 columns
✅ Loaded ShoppingCartItem using encoding utf-8: 2 rows, 6 columns
✅ Loaded SpecialOffer using encoding utf-8: 15 rows, 11 columns
✅ Loaded SpecialOfferProduct using encoding utf-8: 537 rows, 4 columns
✅ Loaded StateProvince using encoding utf-16: 180 rows, 8 columns
✅ Loaded Store using encoding utf-16: 700 rows, 1 columns
✅ Loaded TransactionHistory using encoding utf-8: 113442 rows, 9 columns
✅ Loaded TransactionHistoryArchive using encoding utf-8: 89252 rows, 9 columns
✅ Loaded UnitMeasure using encoding utf-8: 37 rows, 3 columns
✅ Loaded Vendor using encoding utf-8: 103 rows, 8 columns
✅ Loaded WorkOrder using encoding utf-8: 72590 rows, 10 columns
✅ Loaded WorkOrderRouting using encoding utf-8: 67130 rows, 12 columns

In [41]:
dataframes['Customer'].head(20)

,1,Unnamed: 1,934,1.1,AW00000001,{3F5AE95E-B87D-4AED-95B4-C3797AFCB74F},2014-09-12 11:15:07.263000000
0,2,NaN,1028.0,1,AW00000002,{E552F657-A9AF-4A7D-A645-C429D6E02491},2014-09-12 11:15:07.263000000
1,3,NaN,642.0,4,AW00000003,{130774B1-DB21-4EF3-98C8-C104BCD6ED6D},2014-09-12 11:15:07.263000000
2,4,NaN,932.0,4,AW00000004,{FF862851-1DAA-4044-BE7C-3E85583C054D},2014-09-12 11:15:07.263000000
3,5,NaN,1026.0,4,AW00000005,{83905BDC-6F5E-4F71-B162-C98DA069F38A},2014-09-12 11:15:07.263000000
4,6,NaN,644.0,4,AW00000006,{1A92DF88-BFA2-467D-BD54-FCB9E647FDD7},2014-09-12 11:15:07.263000000
5,7,NaN,930.0,1,AW00000007,{03E9273E-B193-448E-9823-FE0C44AEED78},2014-09-12 11:15:07.263000000
6,8,NaN,1024.0,5,AW00000008,{801368B1-4323-4BFA-8BEA-5B5B1E4BD4A0},2014-09-12 11:15:07.263000000
7,9,NaN,620.0,5,AW00000009,{B900BB7F-23C3-481D-80DA-C49A5BD6F772},2014-09-12 11:15:07.263000000
8,10,NaN,928.0,6,AW00000010,{CDB6698D-2FF1-4FBA-8F22-60AD1D11DABD},2014-09-12 11:15:07.263000000
9,11,NaN,1022.0,6,AW00000011,{750F3495-59C4-48A0-80E1-E37EC60E77D9},2014-09-12 11:15:07.263000000
10,12,NaN,622.0,6,AW00000012,{947BCAF1-1F32-44F3-B9C3-0011F95FBE54},2014-09-12 11:15:07.263000000
11,13,NaN,434.0,7,AW00000013,{B0FA5854-2511-439B-A7AC-50C9C460B175},2014-09-12 11:15:07.263000000
12,14,NaN,1020.0,8,AW00000014,{2F96BEDC-723D-468F-834B-B2B8AE79C849},2014-09-12 11:15:07.263000000
13,15,NaN,624.0,9,AW00000015,{0340737B-D4FA-4795-93AA-CAEB8371BCF9},2014-09-12 11:15:07.263000000
14,16,NaN,432.0,10,AW00000016,{C9381589-D31C-4EFE-8978-8D3449EB1F0F},2014-09-12 11:15:07.263000000
15,17,NaN,1018.0,5,AW00000017,{34DB417F-1E0B-4408-9FF6-987E59D0D73C},2014-09-12 11:15:07.263000000
16,18,NaN,1332.0,3,AW00000018,{C04D6B4D-94C6-4C5C-A44C-B449C0AC1B45},2014-09-12 11:15:07.263000000
17,19,NaN,430.0,1,AW00000019,{69AE5D43-31BE-4B76-BFBB-5A23C4788BBC},2014-09-12 11:15:07.263000000
18,20,NaN,1016.0,1,AW00000020,{E010C10A-F1C3-4BBA-81CA-A7E083350400},2014-09-12 11:15:07.263000000
19,21,NaN,1334.0,4,AW00000021,{564E0B42-4609-43DE-9881-914DA433D82D},2014-09-12 11:15:07.263000000

In [42]:
dataframes['ProductVendor'].head(20)

,1,1580,17,47.87,50.2635,2011-08-29 00:00:00,1.1,5,3,CS,2011-08-29 00:00:00.1
0,2,1688,19,39.92,41.9160,2011-08-29 00:00:00,1,5,3.0,CTN,2011-08-29 00:00:00
1,4,1650,17,54.31,57.0255,2011-08-29 00:00:00,1,5,NaN,CTN,2011-08-29 00:00:00
2,317,1578,19,28.17,29.5785,2011-08-29 00:00:00,100,1000,300.0,EA,2011-08-29 00:00:00
3,317,1678,17,25.77,27.0585,2011-08-25 00:00:00,100,1000,NaN,EA,2011-08-25 00:00:00
4,318,1578,19,34.38,36.0990,2011-08-29 00:00:00,100,1000,NaN,EA,2011-08-29 00:00:00
5,318,1678,17,31.98,33.5790,2011-08-25 00:00:00,100,1000,300.0,EA,2011-08-25 00:00:00
6,319,1556,19,44.21,46.4205,2011-08-29 00:00:00,100,1000,300.0,EA,2011-08-29 00:00:00
7,319,1578,19,46.27,48.5835,2011-08-29 00:00:00,100,1000,NaN,EA,2011-08-29 00:00:00
8,319,1678,17,43.87,46.0635,2011-08-25 00:00:00,100,1000,NaN,EA,2011-08-25 00:00:00
9,320,1514,19,47.28,49.6440,2011-08-29 00:00:00,1,5,3.0,CAN,2011-08-29 00:00:00
10,320,1602,17,45.21,47.4705,2011-08-19 00:00:00,1,5,NaN,CAN,2011-08-19 00:00:00
11,320,1604,17,43.21,45.3705,2011-08-25 00:00:00,1,5,NaN,CAN,2011-08-25 00:00:00
12,321,1514,19,42.21,44.3205,2011-08-29 00:00:00,1,5,NaN,CAN,2011-08-29 00:00:00
13,321,1602,17,40.76,42.7980,2011-08-19 00:00:00,1,5,NaN,CAN,2011-08-19 00:00:00
14,321,1604,17,38.56,40.4880,2011-08-25 00:00:00,1,5,NaN,CAN,2011-08-25 00:00:00
15,322,1514,19,27.33,28.6965,2011-08-24 00:00:00,20,100,NaN,DZ,2011-08-24 00:00:00
16,322,1602,17,24.21,25.4205,2011-08-25 00:00:00,20,100,NaN,DZ,2011-08-25 00:00:00
17,322,1604,17,25.11,26.3655,2011-08-25 00:00:00,20,100,NaN,DZ,2011-08-25 00:00:00
18,323,1698,17,47.87,50.2635,2011-08-25 00:00:00,1,5,NaN,CS,2011-08-25 00:00:00
19,325,1590,19,0.20,0.2100,2011-08-29 00:00:00,500,2000,NaN,EA,2011-08-29 00:00:00

In [43]:
pip install boto3

Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: C:\Users\gonda\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

Requirement already satisfied: boto3 in c:\users\gonda\appdata\local\programs\python\python311\lib\site-packages (1.36.16)
Requirement already satisfied: botocore<1.37.0,>=1.36.16 in c:\users\gonda\appdata\local\programs\python\python311\lib\site-packages (from boto3) (1.36.16)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\gonda\appdata\local\programs\python\python311\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.12.0,>=0.11.0 in c:\users\gonda\appdata\local\programs\python\python311\lib\site-packages (from boto3) (0.11.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\gonda\appdata\local\programs\python\python311\lib\site-packages (from botocore<1.37.0,>=1.36.16->boto3) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\gonda\appdata\local\programs\python\python311\lib\site-packages (from botocore<1.37.0,>=1.36.16->boto3) (2.2.3)
Requirement already satisfied: six>=1.5 in c:\users\gonda\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.37.0,>=1.36.16->boto3) (1.16.0)

In [44]:
import boto3
import pandas as pd
import os

# Setup S3 client
s3_client = boto3.client(
    "s3",
    aws_access_key_id="AKIAZOZQFLFY5GI4U2EV",
    aws_secret_access_key="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",
    region_name="ca-central-1"
)

bucket_name = "my-snowflake-adventureworks"
local_dir = "./adventureworks_csv"

# Upload each CSV to S3
for filename in os.listdir(local_dir):
    if filename.endswith(".csv"):
        file_path = os.path.join(local_dir, filename)
        
        # Try reading as comma-separated, then tab-separated
        try:
            df = pd.read_csv(file_path, encoding='utf-8', low_memory=False)
        except Exception:
            try:
                df = pd.read_csv(file_path, encoding='utf-8', sep='\t', on_bad_lines='skip', low_memory=False)
            except Exception:
                try:
                    df = pd.read_csv(file_path, encoding='ISO-8859-1', sep='\t', on_bad_lines='skip', low_memory=False)
                except Exception as e:
                    print(f"❌ Failed to read {filename}: {e}")
                    continue  # Skip this file

        # ✅ If read is successful, upload the raw file directly
        s3_key = f"adventureworks_raw/{filename}"
        
        try:
            s3_client.upload_file(file_path, bucket_name, s3_key)
            print(f"✅ Uploaded {filename} to s3://{bucket_name}/{s3_key}")
        except Exception as e:
            print(f"❌ Failed to upload {filename}: {e}")

✅ Uploaded Address.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Address.csv
✅ Uploaded AddressType.csv to s3://my-snowflake-adventureworks/adventureworks_raw/AddressType.csv
✅ Uploaded AWBuildVersion.csv to s3://my-snowflake-adventureworks/adventureworks_raw/AWBuildVersion.csv
✅ Uploaded BillOfMaterials.csv to s3://my-snowflake-adventureworks/adventureworks_raw/BillOfMaterials.csv
✅ Uploaded BusinessEntity.csv to s3://my-snowflake-adventureworks/adventureworks_raw/BusinessEntity.csv
✅ Uploaded BusinessEntityAddress.csv to s3://my-snowflake-adventureworks/adventureworks_raw/BusinessEntityAddress.csv
✅ Uploaded BusinessEntityContact.csv to s3://my-snowflake-adventureworks/adventureworks_raw/BusinessEntityContact.csv
✅ Uploaded ContactType.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ContactType.csv
✅ Uploaded CountryRegion.csv to s3://my-snowflake-adventureworks/adventureworks_raw/CountryRegion.csv
✅ Uploaded CountryRegionCurrency.csv to s3://my-snowflake-adventureworks/adventureworks_raw/CountryRegionCurrency.csv
✅ Uploaded CreditCard.csv to s3://my-snowflake-adventureworks/adventureworks_raw/CreditCard.csv
✅ Uploaded Culture.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Culture.csv
✅ Uploaded Currency.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Currency.csv
✅ Uploaded CurrencyRate.csv to s3://my-snowflake-adventureworks/adventureworks_raw/CurrencyRate.csv
✅ Uploaded Customer.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Customer.csv
✅ Uploaded Department.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Department.csv
✅ Uploaded Document.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Document.csv
✅ Uploaded EmailAddress.csv to s3://my-snowflake-adventureworks/adventureworks_raw/EmailAddress.csv
✅ Uploaded Employee.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Employee.csv
✅ Uploaded EmployeeDepartmentHistory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/EmployeeDepartmentHistory.csv
✅ Uploaded EmployeePayHistory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/EmployeePayHistory.csv
✅ Uploaded Illustration.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Illustration.csv
✅ Uploaded JobCandidate.csv to s3://my-snowflake-adventureworks/adventureworks_raw/JobCandidate.csv
✅ Uploaded JobCandidate_TOREMOVE.csv to s3://my-snowflake-adventureworks/adventureworks_raw/JobCandidate_TOREMOVE.csv
✅ Uploaded Location.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Location.csv
✅ Uploaded Password.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Password.csv
✅ Uploaded Person.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Person.csv
✅ Uploaded PersonCreditCard.csv to s3://my-snowflake-adventureworks/adventureworks_raw/PersonCreditCard.csv
✅ Uploaded PersonPhone.csv to s3://my-snowflake-adventureworks/adventureworks_raw/PersonPhone.csv
✅ Uploaded PhoneNumberType.csv to s3://my-snowflake-adventureworks/adventureworks_raw/PhoneNumberType.csv
✅ Uploaded Product.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Product.csv
✅ Uploaded ProductCategory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductCategory.csv
✅ Uploaded ProductCostHistory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductCostHistory.csv
✅ Uploaded ProductDescription.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductDescription.csv
✅ Uploaded ProductDocument.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductDocument.csv
✅ Uploaded ProductInventory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductInventory.csv
✅ Uploaded ProductListPriceHistory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductListPriceHistory.csv
✅ Uploaded ProductModel.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductModel.csv
✅ Uploaded ProductModelIllustration.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductModelIllustration.csv
✅ Uploaded ProductModelorg.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductModelorg.csv
✅ Uploaded ProductModelProductDescriptionCulture.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductModelProductDescriptionCulture.csv
✅ Uploaded ProductPhoto.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductPhoto.csv
✅ Uploaded ProductProductPhoto.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductProductPhoto.csv
✅ Uploaded ProductReview.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductReview.csv
✅ Uploaded ProductSubcategory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductSubcategory.csv
✅ Uploaded ProductVendor.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ProductVendor.csv
✅ Uploaded PurchaseOrderDetail.csv to s3://my-snowflake-adventureworks/adventureworks_raw/PurchaseOrderDetail.csv
✅ Uploaded PurchaseOrderHeader.csv to s3://my-snowflake-adventureworks/adventureworks_raw/PurchaseOrderHeader.csv
✅ Uploaded SalesOrderDetail.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesOrderDetail.csv
✅ Uploaded SalesOrderHeader.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesOrderHeader.csv
✅ Uploaded SalesOrderHeaderSalesReason.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesOrderHeaderSalesReason.csv
✅ Uploaded SalesPerson.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesPerson.csv
✅ Uploaded SalesPersonQuotaHistory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesPersonQuotaHistory.csv
✅ Uploaded SalesReason.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesReason.csv
✅ Uploaded SalesTaxRate.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesTaxRate.csv
✅ Uploaded SalesTerritory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesTerritory.csv
✅ Uploaded SalesTerritoryHistory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SalesTerritoryHistory.csv
✅ Uploaded ScrapReason.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ScrapReason.csv
✅ Uploaded Shift.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Shift.csv
✅ Uploaded ShipMethod.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ShipMethod.csv
✅ Uploaded ShoppingCartItem.csv to s3://my-snowflake-adventureworks/adventureworks_raw/ShoppingCartItem.csv
✅ Uploaded SpecialOffer.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SpecialOffer.csv
✅ Uploaded SpecialOfferProduct.csv to s3://my-snowflake-adventureworks/adventureworks_raw/SpecialOfferProduct.csv
✅ Uploaded StateProvince.csv to s3://my-snowflake-adventureworks/adventureworks_raw/StateProvince.csv
✅ Uploaded Store.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Store.csv
✅ Uploaded TransactionHistory.csv to s3://my-snowflake-adventureworks/adventureworks_raw/TransactionHistory.csv
✅ Uploaded TransactionHistoryArchive.csv to s3://my-snowflake-adventureworks/adventureworks_raw/TransactionHistoryArchive.csv
✅ Uploaded UnitMeasure.csv to s3://my-snowflake-adventureworks/adventureworks_raw/UnitMeasure.csv
✅ Uploaded Vendor.csv to s3://my-snowflake-adventureworks/adventureworks_raw/Vendor.csv
✅ Uploaded WorkOrder.csv to s3://my-snowflake-adventureworks/adventureworks_raw/WorkOrder.csv
✅ Uploaded WorkOrderRouting.csv to s3://my-snowflake-adventureworks/adventureworks_raw/WorkOrderRouting.csv

In [46]:
import pandas as pd
import os

csv_folder = './adventureworks_csv'  # your local folder
csv_files = [f for f in os.listdir(csv_folder) if f.endswith('.csv')]

for filename in csv_files:
    file_path = os.path.join(csv_folder, filename)
    try:
        # Try multiple encodings
        df = pd.read_csv(file_path, sep='\t', encoding='utf-8', nrows=1)
    except UnicodeDecodeError:
        df = pd.read_csv(file_path, sep='\t', encoding='ISO-8859-1', nrows=1)
    except Exception as e:
        print(f"❌ Skipped {filename}: {e}")
        continue

    table_name = filename.replace('.csv', '').lower()
    columns = ',\n  '.join([f'"{col}" STRING' for col in df.columns])

    print(f"""
-- {filename}
CREATE OR REPLACE TABLE bronze.{table_name} (
  {columns}
);

COPY INTO bronze.{table_name}
FROM @my_s3_stage/{filename}
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';
""")

-- Address.csv
CREATE OR REPLACE TABLE bronze.address (
  "1" STRING,
  "1970 Napa Ct." STRING,
  "Unnamed: 2" STRING,
  "Bothell" STRING,
  "79" STRING,
  "98011" STRING,
  "E6100000010CAE8BFC28BCE4474067A89189898A5EC0" STRING,
  "{9AADCB0D-36CF-483F-84D8-585C2D4EC6E9}" STRING,
  "2007-12-04 00:00:00" STRING
);

COPY INTO bronze.address
FROM @my_s3_stage/Address.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- AddressType.csv
CREATE OR REPLACE TABLE bronze.addresstype (
  "1" STRING,
  "Billing" STRING,
  "{B84F78B1-4EFE-4A0E-8CB7-70E9F112F886}" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.addresstype
FROM @my_s3_stage/AddressType.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- AWBuildVersion.csv
CREATE OR REPLACE TABLE bronze.awbuildversion (
  "1" STRING,
  "13.0.1601.5" STRING,
  "2016-04-29 23:23:58" STRING,
  "2017-10-19 00:00:00" STRING
);

COPY INTO bronze.awbuildversion
FROM @my_s3_stage/AWBuildVersion.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- BillOfMaterials.csv
CREATE OR REPLACE TABLE bronze.billofmaterials (
  "893" STRING,
  "Unnamed: 1" STRING,
  "749" STRING,
  "2010-05-26 00:00:00" STRING,
  "Unnamed: 4" STRING,
  "EA " STRING,
  "0" STRING,
  "1.00" STRING,
  "2010-05-12 00:00:00" STRING
);

COPY INTO bronze.billofmaterials
FROM @my_s3_stage/BillOfMaterials.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- BusinessEntity.csv
CREATE OR REPLACE TABLE bronze.businessentity (
  "ÿþ1" STRING
);

COPY INTO bronze.businessentity
FROM @my_s3_stage/BusinessEntity.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- BusinessEntityAddress.csv
CREATE OR REPLACE TABLE bronze.businessentityaddress (
  "ÿþ1" STRING
);

COPY INTO bronze.businessentityaddress
FROM @my_s3_stage/BusinessEntityAddress.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- BusinessEntityContact.csv
CREATE OR REPLACE TABLE bronze.businessentitycontact (
  "ÿþ2" STRING
);

COPY INTO bronze.businessentitycontact
FROM @my_s3_stage/BusinessEntityContact.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ContactType.csv
CREATE OR REPLACE TABLE bronze.contacttype (
  "1" STRING,
  "Accounting Manager" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.contacttype
FROM @my_s3_stage/ContactType.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- CountryRegion.csv
CREATE OR REPLACE TABLE bronze.countryregion (
  "ÿþA" STRING,
  "Unnamed: 1" STRING,
  "Unnamed: 2" STRING
);

COPY INTO bronze.countryregion
FROM @my_s3_stage/CountryRegion.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- CountryRegionCurrency.csv
CREATE OR REPLACE TABLE bronze.countryregioncurrency (
  "ÿþA" STRING,
  "Unnamed: 1" STRING,
  "Unnamed: 2" STRING
);

COPY INTO bronze.countryregioncurrency
FROM @my_s3_stage/CountryRegionCurrency.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- CreditCard.csv
CREATE OR REPLACE TABLE bronze.creditcard (
  "1" STRING,
  "SuperiorCard" STRING,
  "33332664695310" STRING,
  "11" STRING,
  "2006" STRING,
  "2013-07-29 00:00:00" STRING
);

COPY INTO bronze.creditcard
FROM @my_s3_stage/CreditCard.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Culture.csv
CREATE OR REPLACE TABLE bronze.culture (
  "      " STRING,
  "Invariant Language (Invariant Country)" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.culture
FROM @my_s3_stage/Culture.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Currency.csv
CREATE OR REPLACE TABLE bronze.currency (
  "AED" STRING,
  "Emirati Dirham" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.currency
FROM @my_s3_stage/Currency.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- CurrencyRate.csv
CREATE OR REPLACE TABLE bronze.currencyrate (
  "1" STRING,
  "2011-05-31 00:00:00" STRING,
  "USD" STRING,
  "ARS" STRING,
  "1.1" STRING,
  "1.0002" STRING,
  "2011-05-31 00:00:00.1" STRING
);

COPY INTO bronze.currencyrate
FROM @my_s3_stage/CurrencyRate.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Customer.csv
CREATE OR REPLACE TABLE bronze.customer (
  "1" STRING,
  "Unnamed: 1" STRING,
  "934" STRING,
  "1.1" STRING,
  "AW00000001" STRING,
  "{3F5AE95E-B87D-4AED-95B4-C3797AFCB74F}" STRING,
  "2014-09-12 11:15:07.263000000" STRING
);

COPY INTO bronze.customer
FROM @my_s3_stage/Customer.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Department.csv
CREATE OR REPLACE TABLE bronze.department (
  "1" STRING,
  "Engineering" STRING,
  "Research and Development" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.department
FROM @my_s3_stage/Department.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Document.csv
CREATE OR REPLACE TABLE bronze.document (
  "ÿþ+" STRING
);

COPY INTO bronze.document
FROM @my_s3_stage/Document.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- EmailAddress.csv
CREATE OR REPLACE TABLE bronze.emailaddress (
  "ÿþ1" STRING
);

COPY INTO bronze.emailaddress
FROM @my_s3_stage/EmailAddress.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Employee.csv
CREATE OR REPLACE TABLE bronze.employee (
  "ÿþ1" STRING,
  "Unnamed: 1" STRING,
  "Unnamed: 2" STRING,
  "Unnamed: 3" STRING,
  "Unnamed: 4" STRING,
  "Unnamed: 5" STRING,
  "Unnamed: 6" STRING,
  "Unnamed: 7" STRING,
  "Unnamed: 8" STRING,
  "Unnamed: 9" STRING,
  "Unnamed: 10" STRING,
  "Unnamed: 11" STRING,
  "Unnamed: 12" STRING,
  "Unnamed: 13" STRING,
  "Unnamed: 14" STRING,
  "Unnamed: 15" STRING
);

COPY INTO bronze.employee
FROM @my_s3_stage/Employee.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- EmployeeDepartmentHistory.csv
CREATE OR REPLACE TABLE bronze.employeedepartmenthistory (
  "1" STRING,
  "16" STRING,
  "1.1" STRING,
  "2009-01-14" STRING,
  "Unnamed: 4" STRING,
  "2009-01-13 00:00:00" STRING
);

COPY INTO bronze.employeedepartmenthistory
FROM @my_s3_stage/EmployeeDepartmentHistory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- EmployeePayHistory.csv
CREATE OR REPLACE TABLE bronze.employeepayhistory (
  "1" STRING,
  "2009-01-14 00:00:00" STRING,
  "125.5" STRING,
  "2" STRING,
  "2014-06-30 00:00:00" STRING
);

COPY INTO bronze.employeepayhistory
FROM @my_s3_stage/EmployeePayHistory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Illustration.csv
CREATE OR REPLACE TABLE bronze.illustration (
  "ÿþ3" STRING
);

COPY INTO bronze.illustration
FROM @my_s3_stage/Illustration.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- JobCandidate.csv
CREATE OR REPLACE TABLE bronze.jobcandidate (
  "ÿþ1" STRING
);

COPY INTO bronze.jobcandidate
FROM @my_s3_stage/JobCandidate.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- JobCandidate_TOREMOVE.csv
CREATE OR REPLACE TABLE bronze.jobcandidate_toremove (
  "ÿþ1" STRING
);

COPY INTO bronze.jobcandidate_toremove
FROM @my_s3_stage/JobCandidate_TOREMOVE.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Location.csv
CREATE OR REPLACE TABLE bronze.location (
  "1" STRING,
  "Tool Crib" STRING,
  "0" STRING,
  ".00" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.location
FROM @my_s3_stage/Location.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Password.csv
CREATE OR REPLACE TABLE bronze.password (
  "ÿþ1" STRING
);

COPY INTO bronze.password
FROM @my_s3_stage/Password.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Person.csv
CREATE OR REPLACE TABLE bronze.person (
  "ÿþ1" STRING
);

COPY INTO bronze.person
FROM @my_s3_stage/Person.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- PersonCreditCard.csv
CREATE OR REPLACE TABLE bronze.personcreditcard (
  "293" STRING,
  "17038" STRING,
  "2013-07-31 00:00:00" STRING
);

COPY INTO bronze.personcreditcard
FROM @my_s3_stage/PersonCreditCard.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- PersonPhone.csv
CREATE OR REPLACE TABLE bronze.personphone (
  "ÿþ1" STRING
);

COPY INTO bronze.personphone
FROM @my_s3_stage/PersonPhone.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- PhoneNumberType.csv
CREATE OR REPLACE TABLE bronze.phonenumbertype (
  "ÿþ1" STRING
);

COPY INTO bronze.phonenumbertype
FROM @my_s3_stage/PhoneNumberType.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- Product.csv
CREATE OR REPLACE TABLE bronze.product (
  "1" STRING,
  "Adjustable Race" STRING,
  "AR-5381" STRING,
  "0" STRING,
  "0.1" STRING,
  "Unnamed: 5" STRING,
  "1000" STRING,
  "750" STRING,
  "0.2" STRING,
  "0.3" STRING,
  "Unnamed: 10" STRING,
  "Unnamed: 11" STRING,
  "Unnamed: 12" STRING,
  "Unnamed: 13" STRING,
  "0.4" STRING,
  "Unnamed: 15" STRING,
  "Unnamed: 16" STRING,
  "Unnamed: 17" STRING,
  "Unnamed: 18" STRING,
  "Unnamed: 19" STRING,
  "2008-04-30 00:00:00" STRING,
  "Unnamed: 21" STRING,
  "Unnamed: 22" STRING,
  "{694215B7-08F7-4C0D-ACB1-D734BA44C0C8}" STRING,
  "2014-02-08 10:01:36.827000000" STRING
);

COPY INTO bronze.product
FROM @my_s3_stage/Product.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductCategory.csv
CREATE OR REPLACE TABLE bronze.productcategory (
  "1" STRING,
  "Bikes" STRING,
  "{CFBDA25C-DF71-47A7-B81B-64EE161AA37C}" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.productcategory
FROM @my_s3_stage/ProductCategory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductCostHistory.csv
CREATE OR REPLACE TABLE bronze.productcosthistory (
  "707" STRING,
  "2011-05-31 00:00:00" STRING,
  "2012-05-29 00:00:00" STRING,
  "12.0278" STRING,
  "2012-05-29 00:00:00.1" STRING
);

COPY INTO bronze.productcosthistory
FROM @my_s3_stage/ProductCostHistory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductDescription.csv
CREATE OR REPLACE TABLE bronze.productdescription (
  "ÿþ3" STRING,
  "Unnamed: 1" STRING,
  "Unnamed: 2" STRING,
  "Unnamed: 3" STRING
);

COPY INTO bronze.productdescription
FROM @my_s3_stage/ProductDescription.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductDocument.csv
CREATE OR REPLACE TABLE bronze.productdocument (
  "317" STRING,
  "6AC0" STRING,
  "2013-12-29 13:51:58.103000000" STRING
);

COPY INTO bronze.productdocument
FROM @my_s3_stage/ProductDocument.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductInventory.csv
CREATE OR REPLACE TABLE bronze.productinventory (
  "1" STRING,
  "1.1" STRING,
  "A" STRING,
  "1.2" STRING,
  "408" STRING,
  "{47A24246-6C43-48EB-968F-025738A8A410}" STRING,
  "2014-08-08 00:00:00" STRING
);

COPY INTO bronze.productinventory
FROM @my_s3_stage/ProductInventory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductListPriceHistory.csv
CREATE OR REPLACE TABLE bronze.productlistpricehistory (
  "707" STRING,
  "2011-05-31 00:00:00" STRING,
  "2012-05-29 00:00:00" STRING,
  "33.6442" STRING,
  "2012-05-29 00:00:00.1" STRING
);

COPY INTO bronze.productlistpricehistory
FROM @my_s3_stage/ProductListPriceHistory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductModel.csv
CREATE OR REPLACE TABLE bronze.productmodel (
  "ÿþ1" STRING
);

COPY INTO bronze.productmodel
FROM @my_s3_stage/ProductModel.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductModelIllustration.csv
CREATE OR REPLACE TABLE bronze.productmodelillustration (
  "7" STRING,
  "3" STRING,
  "2014-01-09 14:41:02.167000000" STRING
);

COPY INTO bronze.productmodelillustration
FROM @my_s3_stage/ProductModelIllustration.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductModelorg.csv
CREATE OR REPLACE TABLE bronze.productmodelorg (
  "ÿþ1" STRING
);

COPY INTO bronze.productmodelorg
FROM @my_s3_stage/ProductModelorg.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductModelProductDescriptionCulture.csv
CREATE OR REPLACE TABLE bronze.productmodelproductdescriptionculture (
  "1" STRING,
  "1199" STRING,
  "en    " STRING,
  "2013-04-30 00:00:00" STRING
);

COPY INTO bronze.productmodelproductdescriptionculture
FROM @my_s3_stage/ProductModelProductDescriptionCulture.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductPhoto.csv
CREATE OR REPLACE TABLE bronze.productphoto (
  "ÿþ1" STRING
);

COPY INTO bronze.productphoto
FROM @my_s3_stage/ProductPhoto.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductProductPhoto.csv
CREATE OR REPLACE TABLE bronze.productproductphoto (
  "1" STRING,
  "1.1" STRING,
  "1.2" STRING,
  "2008-03-31 00:00:00" STRING
);

COPY INTO bronze.productproductphoto
FROM @my_s3_stage/ProductProductPhoto.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductReview.csv
CREATE OR REPLACE TABLE bronze.productreview (
  "1" STRING,
  "709" STRING,
  "John Smith" STRING,
  "2013-09-18 00:00:00" STRING,
  "john@fourthcoffee.com" STRING,
  "5" STRING,
  "I can't believe I'm singing the praises of a pair of socks, but I just came back from a grueling" STRING
);

COPY INTO bronze.productreview
FROM @my_s3_stage/ProductReview.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductSubcategory.csv
CREATE OR REPLACE TABLE bronze.productsubcategory (
  "1" STRING,
  "1.1" STRING,
  "Mountain Bikes" STRING,
  "{2D364ADE-264A-433C-B092-4FCBF3804E01}" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.productsubcategory
FROM @my_s3_stage/ProductSubcategory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- ProductVendor.csv
CREATE OR REPLACE TABLE bronze.productvendor (
  "1" STRING,
  "1580" STRING,
  "17" STRING,
  "47.87" STRING,
  "50.2635" STRING,
  "2011-08-29 00:00:00" STRING,
  "1.1" STRING,
  "5" STRING,
  "3" STRING,
  "CS " STRING,
  "2011-08-29 00:00:00.1" STRING
);

COPY INTO bronze.productvendor
FROM @my_s3_stage/ProductVendor.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- PurchaseOrderDetail.csv
CREATE OR REPLACE TABLE bronze.purchaseorderdetail (
  "1" STRING,
  "1.1" STRING,
  "2011-04-30 00:00:00" STRING,
  "4" STRING,
  "1.2" STRING,
  "50.26" STRING,
  "201.04" STRING,
  "3.00" STRING,
  ".00" STRING,
  "3.00.1" STRING,
  "2011-04-23 00:00:00" STRING
);

COPY INTO bronze.purchaseorderdetail
FROM @my_s3_stage/PurchaseOrderDetail.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- PurchaseOrderHeader.csv
CREATE OR REPLACE TABLE bronze.purchaseorderheader (
  "1" STRING,
  "4" STRING,
  "4.1" STRING,
  "258" STRING,
  "1580" STRING,
  "3" STRING,
  "2011-04-16 00:00:00" STRING,
  "2011-04-25 00:00:00" STRING,
  "201.04" STRING,
  "16.0832" STRING,
  "5.026" STRING,
  "222.1492" STRING,
  "2011-04-25 00:00:00.1" STRING
);

COPY INTO bronze.purchaseorderheader
FROM @my_s3_stage/PurchaseOrderHeader.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesOrderDetail.csv
CREATE OR REPLACE TABLE bronze.salesorderdetail (
  "43659" STRING,
  "1" STRING,
  "4911-403C-98" STRING,
  "1.1" STRING,
  "776" STRING,
  "1.2" STRING,
  "2024.994" STRING,
  "0" STRING,
  "2024.994000" STRING,
  "{B207C96D-D9E6-402B-8470-2CC176C42283}" STRING,
  "2011-05-31 00:00:00" STRING
);

COPY INTO bronze.salesorderdetail
FROM @my_s3_stage/SalesOrderDetail.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesOrderHeader.csv
CREATE OR REPLACE TABLE bronze.salesorderheader (
  "43659" STRING,
  "8" STRING,
  "2011-05-31 00:00:00" STRING,
  "2011-06-12 00:00:00" STRING,
  "2011-06-07 00:00:00" STRING,
  "5" STRING,
  "0" STRING,
  "SO43659" STRING,
  "PO522145787" STRING,
  "10-4020-000676" STRING,
  "29825" STRING,
  "279" STRING,
  "5.1" STRING,
  "985" STRING,
  "985.1" STRING,
  "5.2" STRING,
  "16281" STRING,
  "105041Vi84182" STRING,
  "Unnamed: 18" STRING,
  "20565.6206" STRING,
  "1971.5149" STRING,
  "616.0984" STRING,
  "23153.2339" STRING,
  "Unnamed: 23" STRING,
  "{79B65321-39CA-4115-9CBA-8FE0903E12E6}" STRING,
  "2011-06-07 00:00:00.1" STRING
);

COPY INTO bronze.salesorderheader
FROM @my_s3_stage/SalesOrderHeader.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesOrderHeaderSalesReason.csv
CREATE OR REPLACE TABLE bronze.salesorderheadersalesreason (
  "43697" STRING,
  "5" STRING,
  "2011-05-31 00:00:00" STRING
);

COPY INTO bronze.salesorderheadersalesreason
FROM @my_s3_stage/SalesOrderHeaderSalesReason.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesPerson.csv
CREATE OR REPLACE TABLE bronze.salesperson (
  "274" STRING,
  "Unnamed: 1" STRING,
  "Unnamed: 2" STRING,
  "0" STRING,
  "0.1" STRING,
  "559697.5639" STRING,
  "0.2" STRING,
  "{48754992-9EE0-4C0E-8C94-9451604E3E02}" STRING,
  "2010-12-28 00:00:00" STRING
);

COPY INTO bronze.salesperson
FROM @my_s3_stage/SalesPerson.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesPersonQuotaHistory.csv
CREATE OR REPLACE TABLE bronze.salespersonquotahistory (
  "274" STRING,
  "2011-05-31 00:00:00" STRING,
  "28000" STRING,
  "{99109BBF-8693-4587-BC23-6036EC89E1BE}" STRING,
  "2011-04-16 00:00:00" STRING
);

COPY INTO bronze.salespersonquotahistory
FROM @my_s3_stage/SalesPersonQuotaHistory.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesReason.csv
CREATE OR REPLACE TABLE bronze.salesreason (
  "1" STRING,
  "Price" STRING,
  "Other" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.salesreason
FROM @my_s3_stage/SalesReason.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesTaxRate.csv
CREATE OR REPLACE TABLE bronze.salestaxrate (
  "1" STRING,
  "1.1" STRING,
  "1.2" STRING,
  "14" STRING,
  "Canadian GST + Alberta Provincial Tax" STRING,
  "{683DE5DD-521A-47D4-A573-06A3CDB1BC5D}" STRING,
  "2008-04-30 00:00:00" STRING
);

COPY INTO bronze.salestaxrate
FROM @my_s3_stage/SalesTaxRate.csv
FILE_FORMAT = (TYPE = CSV FIELD_DELIMITER = '\t' SKIP_HEADER = 1)
ON_ERROR = 'CONTINUE';


-- SalesTerritory.csv
CREATE OR REPLACE TABLE bronze.salesterritory (
  "1" STRING,
  "Northwest" STRING,
  "US" STRING,
  "North America" STRING,
  "7887186.7882" STRING,
  "3298694.4938" STRING,
  "0" STRING,
  "0.1" STRING,

In [47]:
#snowflake link - https://app.snowflake.com/bvsslsf/ib64557/w1gE7w4WoREr/query
#aws link : https://us-east-1.console.aws.amazon.com/iam/home?region=ca-central-1#/roles